{# src/app/Resources/views/layout.html.twig #}

<!doctype html>
<html>
<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">
			<title>{%block title%}Accueil{%endblock%} EvryThing</title>
			{%block stylesheets%}
			<link rel="stylesheet" href="{{ asset('bundles/evrythingblog/css/bootstrap.min.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ asset('bundles/evrythingblog/css/bootstrap-theme.min.css') }}" type="text/css"/>
			<link rel="stylesheet" href="{{ asset('bundles/evrythingblog/css/Global.css') }}" type="text/css" media="all" />
			{% endblock %}
</head>
<body>
	<div id="container-fluid">
			<div class="row">
				
					
						<div id="haut" class="col-md-10 col-md-offset-1">
							<header>
					
							</header>
						</div>
			</div>	
					
					<div class="navbar navbar-default navbar-fixed-top col-md-10 col-md-offset-1" role="navigation">
				<div class="container">
				
					<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							
					</div>
						
					<div class="navbar-collapse collapse">
						<ul>
							{% block navigation %}
								<li class="active"><a href="{{path('evry_thing_blog_accueil', {'page':1})}}" class="navOrange">ACTUALIT&EacuteS</a></li>
								<li class="active"><a href="{{path('evry_thing_blog_evry')}}" class="navBleu">MIAGE &EacuteVRY</a></li>
								<li class="active"><a href="{{path('evry_thing_blog_bde')}}" class="navOrange">BDE</a></li>
								<li class="active"><a href="index.html.twig" class="navBleu">MIAGE CONNEXION</a></li>
								<li class="active"><a href="{{path('evry_thing_blog_evenement', {'page':1})}}" class="navOrange">&EacuteV&EgraveNEMENTS</a></li>
								<li class="active"><a href="{{path('evry_thing_galerie_albums')}}" class="navBleu">GALERIE</a></li>
								<li class="active"><a href="index.html.twig" class="navOrange">DOCUMENTS</a></li>
								<li class="active"><a href="evry.html" class="navBleu">ADH&EacuteSIONS</a></li>
								<li class="active"><a href="bde.html" class="navOrange">ESPACE ANCIEN</a></li>
								<li class="active"><a href="{{ path('evry_thing_blog_contact') }}" class="navBleu">CONTACT</a></li>
								<li class="active"><a href="{{ path('evry_thing_blog_admin') }}" class="navOrange">Admin</a></li>
								<div id="blocklogin class="navbar-form navbar-right" role="form"">
									{{ render(controller("FOSUserBundle:Security:login"))}}
								</div>
							{% endblock %}
						</ul>								
					</div><!--/.nav-collapse -->
				</div>
			</div>
		<div class="row">
			<div id="centre" class="container marketing">
				{%block principal%}
				{%endblock%}
			</div>
		</div>
	
		<div id="footer" class="blog-footer col-md-10 col-md-offset-1">
			<div class="container">
				<p id="partenaire">
					Partenaires : 
					<img src="{{ asset('bundles/evrythingblog/images/logoUEVE.jpg') }}" alt="logo UEVE" />
					<img src="{{ asset('bundles/evrythingblog/images/logoMiageCo.png') }}" alt="logo Miage Co" />
					<img src="{{ asset('bundles/evrythingblog/images/logoMozilla.png') }}" alt="logo UEVE" />
				</p>
				<script src="{{ asset('bundles/evrythingblog/js/jquery-1.11.1.min.js') }}"></script>
				<script src="{{ asset('bundles/evrythingblog/js/bootstrap.min.js') }}"></script>
			</div>
		</div>
    </div>
</body>
</html>